header {
    font-family: 'Open Sans'; 
    transition: 1s all ease;  
    background: #282b24;
    position: fixed; 
    left: 0px; 
    height: 100vh; 
    width: 70px; 

    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
}

header i {
    cursor: pointer;
    color: #8bdc8b; 
}

header .logo {
    width: 100%; 
    padding: 10px 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: #cecece;   
}

.logo h1 {
    font-size: 3em; 
}

header li {
    margin: 30px 0; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
}

main {
    font-family: 'Open Sans'; 
    color: #cecece; 
    background: url('../img/bgpresentation.png'); 
}

.content {
    min-height: 100vh; 
    margin-left: 70px;  
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.content article {
    min-width: 400px; 
}



